@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  color: #151515;
}

.pageSize {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

@media (min-width: 540px) {
  .pageSize {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.card {
  background-color: #f9f9f9;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 67%;
}

.cardImage {
  aspect-ratio: 1 / 1;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.projectImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.focus-content {
  margin-top: -120px;
  margin-left: -20px;
  width: 75%;
  height: 28%;
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
  -webkit-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  visibility: hidden;
  pointer-events: none;
  color: white;
  background: #101010;
}

.focus:hover + .focus-content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
